.first-header-container {
    padding: 2em;
}

.container2 {
    background-color: #f1c40f;
    padding: 3em;
    margin-bottom: 50px;
}

.align-right {
    text-align: right;
}

.navbar-toggle {
    float: left;
}

.container-for-carousel {
    margin: 0 auto;
}

.navbar-header {
    float: right;
}

@font-face {
    font-family: cairo;
    src: url(cairo.ttf);
}

* {
    font-family: cairo;
}

body > nav {
    margin-bottom: 0px !important;
}

#search {
    background-color: white;
}

#search table {
    line-height: 40px;
    border-collapse: collapse;
    width: 100%;
    border-color: #f4f4f4;
    font-size: 20px;
}

#search table a {
    color: #515151;
}

#areas {
    position: relative;
    border-collapse: collapse;
    border-color: #f4f4f4;
    font-size: 20px;
    background-color: white;
    display: ;
}

#areas table {
    line-height: 40px;
    border-collapse: collapse;
    width: 100%;
    border-color: #f4f4f4;
    font-size: 20px;
}

#stores {
    position: relative;
    border-collapse: collapse;
    border-color: #f4f4f4;
    font-size: 20px;
    background-color: white;
}

#stores table {
    line-height: 40px;
    border-collapse: collapse;
    width: 100%;
    border-color: #f4f4f4;
    font-size: 20px;
}

.pushleft {
    text-align: right;
}

#areas table a {
    color: #515151;
}

.align-center {
    text-align: center;
}

body {
    background-color: #f4f4f4;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control.right {
    background-image: none !important;
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
    background-image: none !important;
}

#myNavbar {
    text-align: center;
}

#search {
    margin-bottom: 2em;
}

#areas {
    margin-bottom: 2em;
}

//footer CSS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    background-color: #27282c;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #212225;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

//footer CSS ends here
//Social Icons css moving

/*=========================
  Icons
 ================= */


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

//Social Links movinf
footer {
    background-color: #27282c !important;
    min-height: 350px;
    font-family: Cairo;
}

body > footer {
    background-color: #27282c;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.margin-left1 {
    margin-left: 90px;
}

.color-correction {
    color: #212121;
}

.padding-top13px {
    padding-top: 13px;
}

.location-button {
    background-color: #e7e7e7;
    color: black;
    border-color: #f1c40f;
}

.bright-yellow {
    background-color: #f1c40f;
}

.green-color {
    background-color: #2fad64;
}

.paddingtop50px {
    padding-top: 50px;
}

.header-text {
    color: white;
    text-align: right;
}
.adjustit{
        display: inline-block; padding-right: 20px;  font-size: 12px;
}

.btn-success{
	border:none;
}


@media screen and (max-width: 766px) {
    .h {
        clear: both;
    }



@media screen and (max-width: 529px) {
    #hideit {
        display: none;
    }
}


.showbuttonifless{
	display: none;
}

#showbuttonifless{
	display: none;
}
  #adjustbutton{
    	display: none;
    }


@media screen and (min-width: 380px) {
    #showbuttonifless {
        display: ;
    }


 
}

@media only screen and (max-width:700px) {
    #adjusttext {
        font-size: 13px !important;
    }
    
    #adjustbutton{
    	display: none;
    }

    .showbuttonifless {
    	display:block;
    }

        .adjustit{
    font-size: 12px !important;
    display: block !important;
}
    #showbuttonifless{
	display:block;
}

}


.h1{
    font-size: 26px !important;
}




